body{
  position: absolute;
  width: 1553px;
  height: 2025px;
  left: 0px;
  top: 0px;

  background: #DEDEDE;
  border-radius: 10px;

}

h1 {
  font-family: 'Roboto', sans-serif;
  Font Style: Bold;
  Font Size: 32px;
  Line Height: 38px;
  Line Height: 100%;
  text-align: center;
  Vertical Align: Top;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
